<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <nav>
        <a href="/Course/Index">Courses</a>
        <a href="/Instructor/Index">Instructors</a>
        <a href="/Student/Index">Students</a>
    </nav>

    @RenderBody();
</body>
</html>
