@model cle_spring_2020_courses.Models.Course
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Details</title>
    </head>*@
@*<body>*@
<h3>Name: @Model.Name</h3>
<p>Description: @Model.Description</p>
<p>Instructor: <a href="/Instructor/Details/@Model.InstructorId">@Model.Instructor.Name</a></p>
<p>Students:</p>
<ol>
    @foreach (var student in Model.StudentCourses)
    {
        <li>@student.Student.Name</li>
    }
</ol>
<a href="/StudentCourse/CreateByCourseId/@Model.Id">Add a Student to this course</a>
<a href="/Course/Index">Index</a>
<a href="/Course/Update/@Model.Id">Edit this course</a>
<a href="/Course/Delete/@Model.Id">Delete this course</a>
@*</body>
    </html>*@
